<!-- customers/templates/customers/customer_home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Home</title>
</head>
<body>
    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is your home page.</p>
    <a href="{% url 'customer_update' %}">Update Profile</a>
    <a href="{% url 'customer_delete' %}">Delete</a>
    <a href="{% url 'customer_change_password' %}">Change Password</a>
    <a href="{% url 'customer_logout' %}">Logout</a>
    <a href="{%url 'view_cart' %}">view cart</a>
    <a href="{%url 'all_events' %}">Home</a>
</body>
</html>
