{% extends "frontend/base.html" %}
{% load static %}

    <style>
        .container mt-5 {
            position: center;
            margin-left: 500px;
        }
    </style>

    {% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Update Profile</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="fancy-card shadow-lg">
                <form method="post" class="border p-4 bg-light rounded">
                    {% csrf_token %}
                    {{ form.as_p }}  <!-- This will render the fields with labels and inputs -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger btn-block mt-3">Update</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}