/* Apply a font to the entire document */
body {
    font-family: 'Roboto', sans-serif;
}

/* Header styles */
.header {
    background-color: #e70000;
    color: whitesmoke;
}

/* Sidebar styles */
.sidebar {
    background-color: #e70000;
    color: black;
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    z-index: 1000;
    padding: 20px;
}

.sidebar.show {
    display: block;
}

.sidebar .close-btn {
    background-color: #e70000;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

/* Sidebar link styles */
.sidebar .nav-link {
    color: white; /* Default text color */
    text-decoration: none; /* Remove underline */
    padding: 10px;
    display: block; /* Ensure buttons take full width */
}

.sidebar .nav-link:hover {
    background-color: #6f0707; /* Darker background on hover */
    color: #e70000; /* Change text color on hover */
    border-radius: 4px; /* Rounded corners for better appearance */
}

/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

/* Media queries */

/* Hide header on screens smaller than 768px */
@media (max-width: 768px) {
    #main-header {
        display: none !important; /* Hide the header on smaller screens */
    }

    .main-content {
        margin-left: 0; /* No sidebar by default */
    }

    .sidebar-btn {
        display: block;
        background-color: #e70000;
        color: white;
        border: none;
        font-size: 24px;
        padding: 10px 20px;
    }
}

/* Show header and hide sidebar button on larger screens */
@media (min-width: 769px) {
    .sidebar-btn {
        display: none;
    }
}
