<h1>Ticket for {{ event.title }}</h1>
<p><strong>Ticket Number:</strong> {{ ticket.ticket_number }}</p>
<p><strong>Category:</strong> {{ ticket.ticket_category.category_title }}</p>
<p><strong>Event Description:</strong> {{ event.description }}</p>
<p><strong>Event Start Date:</strong> {{ event.start_date }}</p>

{% if event.end_date %}
    <p><strong>Event End Date:</strong> {{ event.end_date }}</p>
{% endif %}

<p><strong>Event Location:</strong> {{ event.venue_name }}</p>

<h2>Vendor Information:</h2>
<p><strong>Store Name:</strong> {{ vendor.storename }}</p>
<p><strong>Contact Email:</strong> {{ vendor.email }}</p>
<p><strong>Phone Number:</strong> {{ vendor.store_phone }}</p>

<p><strong>QR Code:</strong></p>
<p><img src="{{ qr_code_url }}" alt="QR Code"></p>

{% if poster_url %}
    <p><strong>Event Poster:</strong></p>
    <p><img src="{{ poster_url }}" alt="Event Poster"></p>
{% endif %}
