<h1>Thank You for Your Purchase!</h1>

<p>Your ticket(s) have been successfully generated. Below are the details of your purchase:</p>

<h2>Event Details:</h2>
<ul>
    <li><strong>Event Title:</strong> {{ event.title }}</li>
    <li><strong>Event Description:</strong> {{ event.description }}</li>
    <li><strong>Event Start Date:</strong> {{ event.start_date }}</li>
    <li><strong>Event Location:</strong> {{ event.venue_name }}</li>
</ul>

<h2>Vendor Information:</h2>
<ul>
    <li><strong>Store Name:</strong> {{ vendor.storename }}</li>
    <li><strong>Contact Email:</strong> {{ vendor.email }}</li>
    <li><strong>Phone Number:</strong> {{ vendor.store_phone }}</li>
</ul>

{% for detail in ticket_details %}
    <div class="ticket-section">
        <h2>Ticket {{ forloop.counter }} Details:</h2>
        <ul>
            <li><strong>Category:</strong> {{ detail.category }}</li>
            <li><strong>Ticket Number:</strong> {{ detail.ticket_number }}</li>
            <li><strong>Price:</strong> UGX {{ detail.price }}</li>
            <li><img src="{{ detail.qr_code_url }}" alt="QR Code"></li>
        </ul>
        <a href="{% url 'download_ticket_pdf' detail.ticket_number %}" class="btn btn-primary">Download PDF</a>
    </div>
{% endfor %}

<h2>Total Summary:</h2>
<ul>
    <li><strong>Total Tickets:</strong> {{ total_tickets }}</li>
    <li><strong>Total Price:</strong> UGX {{ total_price }}</li>
</ul>
