{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Pending Events</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2 class="mb-4">Pending Events</h2>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Event Title</th>
                    <th>Vendor Name</th>
                    <th>Start Date</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for event in pending_events %}
                    <tr>
                        <td><a href="{% url 'dash_approve_event' event.id %}" class="text-primary">{{ event.title }}</a></td>
                        <td>{{ event.vendor.username }}</td>
                        <td>{{ event.start_date|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ event.venue_name }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No pending events found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}
